.root {
    --black: #000000;
    --bluenight: #150050;
    --darkpurp: #3F0071;
    --purp: #610094;
    margin: 0px;
}

#maintitle {
    font-size: 100px;
    font-family: 'Permanent Marker', cursive;

}

#subtitle {
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
}
#p1 {
   background-color: #3F0071;
   transition-duration: 200ms;

}

#p1:hover {
    background-color: #150050;
    cursor: pointer;

}

#p2 {
    background-color:#3F0071;
    transition-duration: 200ms;
}

#p2:hover {
    background-color: #150050;
    cursor: pointer;

}

#about {
    background-color: #3F0071;
    transition-duration: 200ms;
}
#about:hover {
    background-color: #150050;
    cursor: pointer;

}

#p3 {
    background-color:#3F0071;
    transition-duration: 200ms;
}
#p3:hover {
    background-color: #150050;
    cursor: pointer;

}

#service {
    background-color:#3F0071;
    transition-duration: 200ms;
}

#service:hover {
    background-color: #150050;
    cursor: pointer;

}

.hero-head a {
    transition-duration: 200ms;
}

#quoteButtton {
    border-style: none;
}

#quoteButton:hover {
    background-color: #3F0071;
    color: #610094; 
    border-style: none;          
}